/* General */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

html{
	font: normal 16px sans-serif;
	color: #fff;
}

/*------------------------------------------------
 					HEADER SECTION
--------------------------------------------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	
	padding: 35px 100px 0;
	
}


 a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

header h2{
	text-transform: uppercase;
	font-size: 20px;
}

nav{
	display: flex;
}

nav li{
	list-style: none;
	margin: 0 15px;	

}

nav li:first-child{
	margin-left: 0;
}

nav li:last-child{
	margin-right: 0;
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}

@media (max-width: 700px){
	header{
		flex-direction: column;
		padding: 20px 15px; 

	}

	header h2{
		margin-bottom: 15px;
	}
}


/*------------------------------------------------
 			    	HEADER SECTION
--------------------------------------------------*/

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px) {
	section{
		padding: 100px 50px;
	}
}

@media (max-width: 600px) {
	section{
		padding: 80px 30px;
	}
}

.title {
	position: relative;
	min-height: 100vh;
	justify-content: center;
	color: #fff;
	text-align: center;
}


.title h1{
	font: bold 50px sans-serif;
	margin-bottom: 35px;
}

a.btn{
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #2196F3;
	font: 800 16px sans-serif;
	padding: 20px 40px;

}

@media (max-width: 800px){
	.title h1{
		font-size: 48px;	
	}

	a.btn{
		padding: 15px 30px;
	}
}


.bg_cover{
	background-image: url('images/cover.jpg');
	background-color: #2196F3;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	background-size: cover;
	height: 100%;
	z-index: -1;

}

.bg_cover:after{
	content: '';
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}
